html, body {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 16px; }

a {
  color: #449AD7;
  text-decoration: none;
  /*font-size: 0.7em;*/ }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #53abdf;
  text-align: center; }

.cf::after, .cf::before {
  content: ' ';
  display: table; }

.cf::after {
  clear: both; }

#cover {
  background: url(../images/mountains.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  height: 400px;
  position: relative; }

#cover h1 {
  color: #fff;
  margin: 0;
  font-weight: 100; }

.intro {
  width: 100%; }

.logo {
  padding: 5%;
  position: absolute;
  left: 0; }

.logo img {
  width: 175px; }

.menu {
  padding: 5%;
  position: absolute;
  right: 0; }

.menu img {
  width: 25px; }

.arrow {
  position: absolute;
  bottom: 35px;
  text-align: center;
  width: 100%; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.section {
  text-align: center;
  margin-bottom: 4em; }

.text {
  color: #6b6b6b;
  padding: 0 2em; }

.promo.mobile {
  padding: 0 5em;
  max-width: 300px;
  margin: 4em auto 0; }

.section p {
  width: 75%;
  margin: 1em auto; }

.desktop {
  display: none; }

.responsive-img {
  height: auto;
  max-width: 100%; }

.thin {
  font-weight: 100;
  margin: 0; }

.button {
  border-radius: 5px;
  border: 1px solid #53abdf;
  background: #fff;
  color: #53abdf;
  font-size: 1.25em;
  font-weight: 800;
  padding: 0.75em 2.5em; }

.spaced {
  margin: 4em 40px; }

@media (min-width: 800px) {
  .desktop {
    display: block; }
  .mobile {
    display: none; }
  .text {
    max-width: 350px;
    font-size: 1.25em; }
  h1 {
    font-size: 2em; }
  .thin {
    font-size: 4em; }
  h2 {
    font-size: 1.65em; }
  .promo {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .promo:not(.desktop) {
    max-width: 200px; }
  .spaced {
    max-width: 800px;
    margin: 2em auto; }
  section:nth-of-type(3) {
    width: 1800px;
    margin-left: -300px; }
  section:nth-of-type(3) div {
    float: right;
    width: 50%; }
  section:nth-of-type(3) div, section:nth-of-type(3) h2, section:nth-of-type(3) .text {
    text-align: left; }
  section:nth-of-type(3) .text {
    padding: 0;
    margin: 0; }
  section:nth-of-type(3) figure {
    float: left;
    position: relative;
    width: 50%; } }
