.grid
{
    font-size: 0;

    display: block;

    max-width: 1292px;
    margin: 0 0 0 -1.25;
    padding: 0;

    text-align: left;
}
.grid:not(.nested)
{
    margin-right: auto;
    margin-left: auto;
}
.grid > .grid
{
    margin: 0;
}

.grid--colsCenter
{
    text-align: center;
}

.grid--colsRight
{
    text-align: right;
}

.grid-col
{
    font-size: 16px;

    display: inline-block;

    width: 100%;
    padding-left: 1.25;

    vertical-align: top;
}

.grid-col--centered
{
    display: block;

    margin: 0 auto;
    padding: 0;
}

.u-width12of12, .u-width6of6, .u-width3of3, .u-width12of12L, .u-width6of6L, .u-width3of3L
{
    width: 100%;
}

.u-width11of12, .u-width11of12L
{
    width: 91.66667%;
}

.u-width10of12, .u-width5of6, .u-width10of12L, .u-width5of6L
{
    width: 83.33333%;
}

.u-width9of12, .u-width9of12L
{
    width: 75%;
}

.u-width8of12, .u-width4of6, .u-width2of3, .u-width8of12L, .u-width4of6L, .u-width2of3L
{
    width: 66.66667%;
}

.u-width7of12, .u-width7of12L
{
    width: 58.33333%;
}

.u-width6of12, .u-width3of6, .u-width6of12L, .u-width3of6L
{
    width: 50%;
}

.u-width5of12, .u-width5of12L
{
    width: 41.66667%;
}

.u-width4of12, .u-width2of6, .u-width1of3, .u-width4of12L, .u-width2of6L, .u-width1of3L
{
    width: 33.33333%;
}

.u-width3of12, .u-width3of12L
{
    width: 25%;
}

.u-width2of12, .u-width1of6, .u-width2of12L, .u-width1of6L
{
    width: 16.66667%;
}

.u-width1of12, .u-width1of12L
{
    width: 8.33333%;
}































.cf::before, .section::before, .cf::after, .section::after
{
    display: table;

    content: ' ';
}
.cf::after, .section::after
{
    clear: both;
}


.vertical-center
{
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}


.desktop
{
    display: none;
}
@media (min-width: 800px)
{
    .desktop
    {
        display: block;
    }
}

.mobile
{
    display: block;
}
@media (min-width: 800px)
{
    .mobile
    {
        display: none;
    }
}

.responsive-img
{
    max-width: 100%;
    height: auto;
}

*, *::before, *::after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body
{
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;

    background-color: #f6f6f6;
}

a
{
    text-decoration: none;

    color: #449ad7;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 600;

    text-align: center;

    color: #53abdf;
}

.main
{
    background-color: #fff;
}

header
{
    position: relative;
}

.thin
{
    font-weight: 100;

    margin: 0;
}

.text
{
    padding: 0 2em;

    color: #6b6b6b;
}

.button
{
    font-size: 1.25em;
    font-weight: 800;

    padding: .75em 2.5em;

    color: #53abdf;
    border: 1px solid #53abdf;
    border-radius: 5px;
    background: #fff;
}

#cover
{
    position: relative;

    height: 400px;

    color: #fff;
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}
#cover h1
{
    font-weight: 100;

    margin: 0;

    color: #fff;
}
#cover .intro
{
    width: 100%;
}
#cover .logo
{
    position: absolute;
    left: 0;

    padding: 5%;
}
#cover .logo img
{
    width: 175px;
}
#cover .menu
{
    position: absolute;
    right: 0;

    padding: 5%;
}
#cover .menu img
{
    width: 25px;
}
#cover .arrow
{
    position: absolute;
    bottom: 35px;

    text-align: center;
}

.section
{
    margin-bottom: 4em;

    text-align: center;
}
.section p
{
    width: 75%;
    margin: 1em auto;
}
@media (min-width: 800px)
{
    .section:nth-of-type(3) div, .section:nth-of-type(5) div
    {
        float: right;

        width: 50%;
    }
    .section:nth-of-type(3) figure, .section:nth-of-type(5) figure
    {
        float: left;

        width: 50%;
        margin-top: 0;
    }
    .section:nth-of-type(4) div, .section:nth-of-type(6) div
    {
        float: left;

        width: 50%;
    }
    .section:nth-of-type(4) figure, .section:nth-of-type(6) figure
    {
        float: right;

        width: 50%;
        margin-top: 0;
    }
}

.promo
{
    max-width: 300px;
    margin: 4em auto 0;
    padding: 0 4em;
}
@media (min-width: 800px)
{
    .promo
    {
        max-width: 600px;
    }
}

footer
{
    text-align: center;
}
footer li
{
    display: inline;

    margin-right: 1em;
}
footer li:last-of-type
{
    margin-right: 0;
}
