.grid {
  display: block;
  font-size: 0;
  margin: 0 0 0 -24px;
  padding: 0;
  text-align: left; }
  .grid > .grid {
    margin: 0; }

.grid--colsCenter {
  text-align: center; }

.grid--colsRight {
  text-align: right; }

.grid-col {
  display: inline-block;
  font-size: 16px;
  padding-left: 24px;
  vertical-align: top;
  width: 100%; }

.grid-col--centered {
  display: block;
  margin: 0 auto;
  padding: 0; }

.u-width12of12, .u-width6of6, .u-width3of3, .u-width12of12L, .u-width6of6L, .u-width3of3L {
  width: 100%; }

.u-width11of12, .u-width11of12L {
  width: 91.66667%; }

.u-width10of12, .u-width5of6, .u-width10of12L, .u-width5of6L {
  width: 83.33333%; }

.u-width9of12, .u-width9of12L {
  width: 75%; }

.u-width8of12, .u-width4of6, .u-width2of3, .u-width8of12L, .u-width4of6L, .u-width2of3L {
  width: 66.66667%; }

.u-width7of12, .u-width7of12L {
  width: 58.33333%; }

.u-width6of12, .u-width3of6, .u-width6of12L, .u-width3of6L {
  width: 50%; }

.u-width5of12, .u-width5of12L {
  width: 41.66667%; }

.u-width4of12, .u-width2of6, .u-width1of3, .u-width4of12L, .u-width2of6L, .u-width1of3L {
  width: 33.33333%; }

.u-width3of12, .u-width3of12L {
  width: 25%; }

.u-width2of12, .u-width1of6, .u-width2of12L, .u-width1of6L {
  width: 16.66667%; }

.u-width1of12, .u-width1of12L {
  width: 8.33333%; }































* {
  box-sizing: border-box; }

html, body {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 16px; }

a {
  color: #449AD7;
  text-decoration: none;
  /*font-size: 0.7em;*/ }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #53abdf;
  text-align: center; }

.cf::after, .cf::before {
  content: ' ';
  display: table; }

.cf::after {
  clear: both; }

.grid {
  max-width: 1292px; }

#cover {
  background: url(../images/mountains.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  height: 400px;
  position: relative; }

header {
  position: relative; }

#cover h1 {
  color: #fff;
  margin: 0;
  font-weight: 100; }

.intro {
  width: 100%; }

.logo {
  padding: 5%;
  position: absolute;
  left: 0; }

.logo img {
  width: 175px; }

.menu {
  padding: 5%;
  position: absolute;
  right: 0; }

.menu img {
  width: 25px; }

.grid:not(.nested) {
  margin-left: auto;
  margin-right: auto; }

.arrow {
  position: absolute;
  bottom: 35px;
  text-align: center; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.section {
  text-align: center;
  margin-bottom: 4em; }

.desktop {
  display: none; }

.responsive-img {
  height: auto;
  max-width: 100%; }

.thin {
  font-weight: 100;
  margin: 0; }

.button {
  border-radius: 5px;
  border: 1px solid #53abdf;
  background: #fff;
  color: #53abdf;
  font-size: 1.25em;
  font-weight: 800;
  padding: 0.75em 2.5em; }

@media (min-width: 800px) {
  .desktop {
    display: block; }
  .mobile {
    display: none; } }
